@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=UnifrakturMaguntia&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Old Standard";
  color: #333;
  background-color: rgb(250, 244, 235);
  /* color: rgb(250, 244, 235, 0.5);
  background-color: #0e0d0d; */
}
p {
  font-family: "Old Standard";
  font-size: 1em;
}
.main-title {
  font-family: "UnifrakturMaguntia", cursive;
}

.navbar {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #b1adad;
}
.navbar h1 {
  color: #0e0d0d;
}

.navbar a {
  text-decoration: none;
}

.content {
  max-width: 800px;
  margin: 5px auto;
  padding: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: xx-large;
}

/* work previews / list */
.member-preview {
  color: #333;
  padding: 5px 4px;
  margin: 0px 0;
  width: 100%;
  min-height: 200px;
  border: 2px solid black;
  border-radius: 10px;
}
.member-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.member-preview h2 {
  font-weight: 600;
}
.member-preview p {
  background: none;
  font-size: 12px;
  margin-bottom: 8px;
}
.member-preview a {
  color: #333;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
